html
    head
        include partials/head.pug
    body(class="userprofile")
        include partials/header.pug
        main
            if liked === false
                h2 Like dit persoon
                p Geef #{data.username} een like met de onderstaande knop.
                form(class="hidden-input" action="/like" method="POST")
                    input(type="text" name="id" value=`${data._id}`)
                    button(type="submit") Like
            else
                if match === true
                    p Jullie hebben elkaar geliked.
                    a(href='mailto:'+`${data._email}`) Neem contact op!
                    h3 Dislike?
                    p Dislike #{data.username} met de onderstaande knop.
                    form(class="hidden-input" action="/dislike" method="POST")
                        input(type="text" name="userid" value=`${data._id}`)
                        button(type="submit") Dislike
                else
                    p Je hebt dit persoon al geliked.
                    h3 Dislike?
                    p Dislike #{data.username} met de onderstaande knop.
                    form(class="hidden-input" action="/dislike" method="POST")
                        input(type="text" name="userid" value=`${data._id}`)
                        button(type="submit") Dislike
